.header {
    width: 100%;
    height: 72px;
    box-shadow: 0px 6px 10px 0px rgba(34, 60, 80, 0.2);
    z-index: 100;
    background: blue;
}
.header .logo1 {
    position: relative;
    top: 30px;
}
.header .basket {
    position: absolute;
    right: 0;
    top: 16px;
    width: 40px;
    height: 40px;
    background: url(img/basket.svg) no-repeat center center transparent;
    background-size: 19px 22px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
.header .basket:hover {
    background-color:rgba(206, 206, 206, 0.2);
}
.sign-in {
    position: absolute;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    align-items: center;
    width: 78px;
    height: 40px;
    right: 56px;
    top: 16px;
    background: #fff;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
}
.sign-in:hover {
    background-color: rgba(206, 206, 206, 0.2);
    cursor: pointer;
}
@media all and (max-width: 575px) {
    .header .basket {
        display: none;
    }
    .sign-in {
        right: 8px;
    }
}
